/*    GENERAL CSS     */
 
@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto&display=swap');

html, body {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;  
  background-color: #1a1a1a;;
}

a {
  outline: none;
  color: #e4e4e4;
  text-decoration: none !important;
}

a:hover {
  color: #f55f31;
}

p {
  line-height: 1.9;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Patrick Hand", cursive;
}


.jumbotron-header {
    color: #fff;
    font-family: "Patrick Hand", cursive;
    font-size: 80px;          
}

.viewport-header {
  position: relative;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;  
}


/*    Navbar     */

nav-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar > a {
    text-decoration: none;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 30px;    
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fff;
}

.navbar > a:hover {
    color: #444;
    background-color: transparent;
    text-decoration: none;
}


/*   Background video  */

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}


