@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto&display=swap');

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

html {
  scroll-behavior: smooth;
}

html, body {
  height: 100%;
}


body {
  font-family: "Roboto", sans-serif;  
  background-color: #1a1a1a;
  margin: 0;
}

.viewport-header {
  position: relative;
  height: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;  
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Patrick Hand", cursive;
}

p {
  line-height: 1.9;
}


.jumbotron-header {
    color: #fff;
    font-family: "Patrick Hand", cursive;
    font-size: 80px;          
}

main {
    background: rgba(black, 0.65);
    color: white;
    position: relative;
    padding: 1rem;   
}

/*    Navbar     */

nav-container {
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
}

.navbar {
    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.navbar .navbar-toggler {
    border: 0;
}

.navbar > a {
    text-decoration: none;
    font-family: "Patrick Hand", cursive;
    font-weight: 400;
    font-size: 30px;    
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fff;
}

.navbar > a:hover {
    color: #444;
    background-color: transparent;
    text-decoration: none;
}

.packs {
    display: inline-block;
}    
